body {
  background: blanchedalmond;
}
.a{
border: 1px solid purple;
min-height: 10vh;
flex-grow: 1;
width: 100%;
margin: 10px;
min-width: 30em;
}

.b{
  border: 1px solid purple;
  min-width: 30em;
  min-height: 60vh;
  flex-grow: 25;
  margin: 10px;
  width:100vh

}

.c{
  border: 1px solid purple;
  flex-grow: 1;
  min-height: 10vh;
  max-width: 100%;
  min-width: 30em;
  margin: 10px;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction:row;
  flex-wrap: wrap;

}

